@import '../styles/style';
:host {

  a {
    &:visited {
      color: $primary-color;
    }
  }

  .name {
    color: $primary_color;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

}
