@import '../styles/style';

:host {

  margin: 0;

  .shopping-cart-icon__cart-icon-image {
    height: auto;
  }

  .shopping-cart-icon__badge {
    background-color: $action-color;
    font-size: 10px;
    height: 15px;
    line-height: 14px;
    width: 15px;
  }

}
