@import '../styles/style';

:host {
  background-color: #FFFFFF;
}

#upscale :host {

  font-family: Gotham;

  .storybook-article-link-text-button {
    background-color: $primary_color;
    color: #FFFFFF;
    font-weight: 900;
  }

  .storybook-product-content-background-overlay {
    background-color: rgba(255, 255, 255, .8);
    padding:0;
  }

  .storybook-product-content-name {
    background-color: $primary_color;
    font-weight: bold;
    padding: .5em 0;
  }

  .storybook-article-headline {
    color: $price-color;
    background-color: rgba(255, 255, 255, .8);
    padding: .5em 0;
  }

}
