@import '../styles/style';

@mixin headline () {
  color: $primary_color;
  font-family: Gotham;
  font-weight: bold;
  text-align: center;
}

@mixin headline_bg () {
  background-color: rgba(255, 255, 255, .8);
  padding: .5em 0;
}

:host {
  background-color: #FFFFFF;
}

#upscale :host {

  font-family: Gotham;

  .storybook-article-link-text-button {
    font-family: Gotham;
    background-color: $primary_color;
    color: #FFFFFF;
    font-weight: 900;
  }

  .storybook-product-content-background-overlay {
    @include headline_bg();
  }

  .storybook-product-content-name {
    @include headline();
  }

  .storybook-article-content-background-overlay {
    @include headline_bg();
  }

  .storybook-article-headline {
    @include headline();
  }

}
