@import '../styles/style';
:host {
  background-color: #FFFFFF;
}

#upscale :host {

  .storybook-article-link-text-button {
    font-family: Gotham;
    font-weight: 900;
    background-color: $primary_color;
    color: #FFFFFF;
  }

}
