@import '../styles/style';
:host {
	position: static;
	background: $primary_color;
	box-shadow: none;

	.header {
		position: relative;
	}

	.header__bottom {
		position: absolute;
		left: 130px;
		top: 0;
		display: inline-block;
	}

}

