@import '../styles/style';
@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham.eot');
  /* IE9 Compat Modes */
  src: url('../../fonts/gotham.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/gotham.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/gotham.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/gotham.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/gotham.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/GothamBold.eot');
  /* IE9 Compat Modes */
  src: url('../../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/GothamBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/GothamBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/GothamBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/GothamBold.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight:normal
}

body {
  background: #FFFFFF;
  font-family: 'Gotham';
}

.selling-price {
  font-weight: bold;
  color: $price-color;
}

#upscale {
  .storybook-add-to-cart-button {
    background: $action-color;

    &:focus {
      outline-color: lighten($action-color, 10%);
    }
  }
}

.sisma-footer {
  color: #FFFFFF;
  display: flex;

  .sisma-footer-info {
    flex-grow:1;
  }

  .sisma-footer-socials {
    flex-grow: 0;

    a {
      filter: brightness(0) invert(1);
    }
  }

  a {
    color: inherit;
    font-weight: 900;
  }
}
