@import '../styles/style';
@font-face {
  font-family: 'Gotham';
  src: url('../../fonts/gotham.eot');
  /* IE9 Compat Modes */
  src: url('../../fonts/gotham.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/gotham.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/gotham.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/gotham.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/gotham.svg#svgFontName') format('svg');
  /* Legacy iOS */
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('../../fonts/GothamBold.eot');
  /* IE9 Compat Modes */
  src: url('../../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/GothamBold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/GothamBold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/GothamBold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/GothamBold.svg#svgFontName') format('svg');
  /* Legacy iOS */
  font-weight:normal
}
html, body {
  font-family: $font-family;
  height: 100%;
  background-color: #FFFFFF;
}

button {
  font-family: $font-family;
}
.selling-price {
  @include price();
}

#upscale {

  .selling-price.browse-sale-price {
    @include price();
    margin: .5em auto;
  }

  .pdp-sale-price-text {
    @include price();
  }

  .storybook-add-to-cart-button {
    background: $action-color;

    &:focus {
      outline-color: lighten($action-color, 10%);
    }
  }

  //@include tema(c2af5937-4368-4e4e-b08a-348718c2706d, $tema-samurai);
  //@include tema(ef7ea763-f407-4540-a85a-1bac4ef7b7b4, $tema-cotoneve);
}

.sisma-footer {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;

  .sisma-footer-info {
    flex-grow:1;
  }

  .sisma-footer-socials {
    flex-grow: 0;

    a {
      filter: brightness(0) invert(1);
    }
  }

  a {
    color: inherit;
    font-weight: 900;
  }

  .sisma-footer-col{
      width:25%;
      font-size: 14px;
      ul {
        margin: 0;
      }
  }

  #fourth { a {
            text-decoration: none;
            }
           img {
            filter: brightness(0) invert(1);
            margin-right: 10px;
           }
  } 

  #fifth {
    font-size: 12px;
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
  } 
}

upscale-storybook + upscale-storybook {
	.story-books {
		margin-top: 1em !important;
	}
}
